p.intro {
  font-style: italic;
  color: green;
  width: 75%;
}

img {
  width: 25%;
  height: auto;
  border: 2px solid red;
  border-radius: 15px;
  float: left;
  margin-right: 25px;
}

.intro-container {
  overflow: auto;
}

.box-interest {
  width: 50%;
  padding: 20px;
  border: solid black;
  border-width: 20px;
  background: rgb(238,231,174);
  background: radial-gradient(circle, rgba(238,231,174,1) 0%, rgba(148,233,208,1) 100%);
  margin: 0 auto 10px;
}

h1 {
  text-align: center
}

.personal p {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.quote p {
  background: rgb(174,179,238);
  background: radial-gradient(circle, rgba(174,179,238,1) 0%, rgba(233,148,232,1) 100%);
}